body {
    background-color: #fde2e4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

/* CONTENEDOR */
#pagina_completa {
    width: 95%;
    max-width: 1400px;
    margin: 20px auto;
}

/* BLOQUES */
.banner_superior {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 2px solid #e5989b;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

/* ENCABEZADO */
#superior_izquierdo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#imagen_superior {
    width: 210px;
    height: 210px;
    margin: 5px;
    object-fit: cover;
}

#superior_derecho {
    padding: 20px;
}

/* PRESENTACIÓN */
.presentacion {
    font-size: 19px;
}

/* CONTENIDO */
#contenedor_principal {
    display: flex;
    min-height: 500px;
}

/* IZQUIERDA */
#principal_izquierda {
    width: 35%;
    padding: 25px;
    background-color: #fff0f3;
    border-right: 2px solid #e5989b;
}

/* DERECHA */
#principal_derecha {
    width: 65%;
    padding: 25px;
}

/* PIE */
#pie_pagina {
    display: flex;
    justify-content: space-around;
    background-color: #ffccd5;
    border-radius: 15px;
    padding: 10px;
}

/* TÍTULOS */
h1, h2 {
    font-weight: 800;
    color: #b56576;
}

/* TEXTO */
p, li {
    font-weight: 600;
    margin: 8px 0;
}

/* LISTAS */
ul {
    padding-left: 20px;
}